table.table-laporan.dataTable th {
  vertical-align: middle !important;
}

.footer-filter {
  vertical-align: bottom !important;
  display: flex;
  align-items: flex-end;
  height: 100%;
  padding-bottom: 3px;
  vertical-align: bottom;
  margin-top: 0;
}

@media (max-width: 766px) {
  .footer-filter {
    margin-top: 8px;
  }
}
